/* VARIABLES */

// Colors

// Logo Color
$fountain-blue: #54b9c4;
$shiraz: #a10d30;
$parchment: #f3eed9;

// Background
$athens-gray: #f8f9fa;

// scss-docs-start theme-color-variables
$primary: $fountain-blue;
$secondary: $shiraz;
$tertiary: $parchment;
$bg-primary: $athens-gray;
