/* VARIABLES */

// Colors

// Logo Color
$fountain-blue: #4e7b4f;
$shiraz: #a10d30;
$parchment: #f3eed9;

// Background
$athens-gray: #f8f9fa;
$aqua-haze: #f3f3f3;
$gray: #d9d9d9;

// scss-docs-start theme-color-variables
$primary: $fountain-blue;
$secondary: $shiraz;
$tertiary: $parchment;
$bg-primary: $athens-gray;
$bg-secondary: $aqua-haze;
$bg-teritary: $gray;
