@import "../node_modules/bootstrap/scss/bootstrap";
@import "./scss/variables.scss";
// @import "./scss/style.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath fill='%23fff' stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-primary;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.clr-primary {
  color: $primary;
}

.bg-secondary {
  background-color: $bg-secondary !important;
}

.bg-teritary {
  background-color: $bg-teritary !important;
}

.bg-transparent {
  background: transparent;

  @include media-breakpoint-down(sm) {
    background: black !important;
  }
}

.sub-title {
  font-size: calc(1.325rem + 0.9vw);
  text-decoration: underline;
  text-decoration-color: $primary;
  text-underline-offset: 5px;
}

.text-link{
    color: #000;
    transition: color 0.3s ease;

    &:hover{
      color: #4e7b4f;
      transition: color 0.3s ease;
    }
  
}

.navbar {
  .nav-item {
    &:hover {
      a {
        color: $primary;
      }
    }
  }
  .icon {
    path {
      fill: $black;
      transition: fill 0.3s ease;
    }

    &:hover {
      path {
        fill: $primary;
      }
    }
  }
}

.sub-page-navbar {
  .navbar-toggler {
    background-color: white;
  }
  .nav-item {
    a {
      color: white;
    }
  }

  .navbar-toggler {
    color: white;
  }
  .icon {
    path {
      fill: white;
      transition: fill 0.3s ease;
    }

    &:hover {
      path {
        fill: $primary;
      }
    }
  }
}

.hero {

  &-title {
    font-size: calc(4rem + 2vw);

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &-text {
    width: 80%;
    line-height: calc(16px * 3);
  }

  &-sub-title {
    font-size: calc(1rem + 1vw);
    text-decoration: underline;
    text-decoration-color: $primary;
    text-underline-offset: 5px;
  }
}

.gallery {
  img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}

.about {
  &-text {
    line-height: calc(16px * 4);
  }

  &-sub-title {
    font-size: calc(1.325rem + 0.9vw);
    text-decoration: underline;
    text-decoration-color: $primary;
    text-underline-offset: 5px;
  }
}

.discover {
  .text-underline {
    text-decoration: underline;
    text-decoration-color: $primary;
    text-underline-offset: 5px;
  }

  .card-title {
    bottom: 30px;
  }

  .video {
    p {
      color: #000;
    }
  }

  &-card {
    p,
    h3 {
      color: white;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      p,
      h3 {
        color: #4e7b4f;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.discover-card {
  .photo,
  .video {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0); // Initially no overlay
      transition: background-color 0.3s ease; // Smooth transition
      z-index: 1; // Ensure overlay is below text
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.6); // Light black overlay on hover
    }

    p,
    .card-title {
      position: absolute;
      z-index: 2; // Ensure text is above overlay
      // Adjust positioning as needed
    }
  }

  .photo {
    background-image: url(../images/img/product/broccoli.jpg);
  }

  .video {
    background-image: url(../images/img/landscape/coop+valley.jpg);
  }
}

.contact {
  &-input {
    border: none;
  }

  &-submit {
    border: none;
    background-color: #4e7b4f;
    max-width: 200px;
    min-height: 50px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: black;
      color: #4e7b4f;
      transition: all 0.3s ease-in-out;
    }
  }

  &-icons {
    a {
      text-decoration: none;

      span {
        color: black;
        transition: fill 0.3s ease;
      }

      &:hover {
        path {
          fill: $primary;
          transition: fill 0.3s ease;
        }

        span {
          color: #4e7b4f !important;
          transition: fill 0.3s ease;
        }
      }
    }
    .icon {
      path {
        fill: $black;
        transition: fill 0.3s ease;
      }
    }
  }
}

.photo-hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: 700px;
  background-image: url(/images/background/Mark-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -60px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(84, 185, 196, 1)
    );
    z-index: 1;
  }
}

.video-hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: 700px;
  background-image: url(/images/background/Mark-video.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -60px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0),
      rgba(84, 185, 196, 1)
    );
    z-index: 1;
  }
}

.video-item {
  .video-container {
    position: relative;
    padding-bottom: 40%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

.hero-nav {
  a {
    text-decoration: none;
    color: #4e7b4f;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease;

    &:hover {
      color: black;
      transition: color 0.3s ease;
    }
  }
}

.sub-page-hero-title {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  font-size: calc(2.325rem + 2vw);
  color: white;
  letter-spacing: 3px;
}

.go-top {
  a {
    font-size: calc(0.5rem + 0.5vw);
    text-decoration: underline;
    text-decoration-color: $primary;
    text-underline-offset: 5px;
    color: black;

    &:hover {
      color: #4e7b4f;
    }
  }
}

.footer-border {
  border-top: solid 4px #4e7b4f;
}

.min-h-100 {
  min-height: 100px;
}

.min-h-50 {
  min-height: 50px;
}
