@import "../node_modules/bootstrap/scss/bootstrap";
@import "./scss/variables.scss";
// @import "./scss/style.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath fill='%23fff' stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
  background-color: $bg-primary;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.navbar {
  .nav-item {
    &:hover {
      a {
        color: $primary;
      }
    }
  }
  .icon {
    path {
      fill: $black;
      transition: fill 0.3s ease;
    }

    &:hover {
      path {
        fill: $primary;
      }
    }
  }
}

.hero {
  height: 50vh;

  &-title {
    font-size: calc(4rem + 2vw);
  }
}
